<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/layout1.css">
    <script src="https://kit.fontawesome.com/bb2dfe5236.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo"><i class="fa-3x fa-solid fa-road-barrier"></i></div>
        <div class="menu">
            <div class="topmenu">
                <span><i title="로그인" class="fa-solid fa-arrow-right-to-bracket"></i></span>
                <span><i title="회원가입" class="fa-solid fa-registered"></i></span>
            </div>
            <div class="gnb">
                <ul>
                    <li>포탈
                        <ul>
                            <li><a href="http://www.naver.com">네이버</a></li>
                            <li><a href="http://www.daum.net" target="_blank">다음</a></li>
                            <li><a href="http://www.google.com">구우글</a></li>
                        </ul>
                    </li>
                    <li>menu2
                        <ul>
                            <li>menu21</li>
                            <li>menu22</li>
                        </ul>
                    </li>
                    <li>menu3
                        <ul>
                            <li>menu31</li>
                            <li>menu32</li>
                            <li>menu33</li>
                            <li>menu34</li>
                        </ul>
                    </li>
                    <li>menu4

                    </li>
                    <li>menu5</li>
                </ul>
            </div>
        </div>

    </header>
    
    <figure>figure
        <figcaption>
            <h1>Lorem, ipsum dolor.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestias quas voluptatem quos numquam saepe cumque repellat, nihil facere nemo nesciunt nobis sunt mollitia, omnis doloremque odit ullam animi quo!</p>
        </figcaption>
        <!-- <img src="../image/child-g4c846ed98_1280.jpg" alt="애기"> -->
    </figure>
    <section class="test">

    </section>
    <main>
        <section>
            <div class="content">
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque odit minima aliquid amet suscipit, a earum impedit nam, dolorem eaque consectetur sed voluptas molestias dolor perspiciatis itaque animi. Dolorum, magni?</article>
                <article>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas amet nemo recusandae consequuntur laboriosam maxime facilis minus distinctio assumenda repellat, laborum cupiditate, deserunt voluptatum architecto ipsam rem! A, assumenda quos.</article>
                <article>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sint, tempora optio debitis architecto expedita, reprehenderit, perspiciatis possimus et illo rem. Alias deleniti doloribus ipsum fuga error repellat quidem! Soluta!</article>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde recusandae at id sint rem error perferendis esse ut dolores! Magnam iusto quidem rem tempora necessitatibus nulla beatae perferendis voluptas quibusdam!</article>
            </div>
        </section>
    </main>
    <footer><p>copy right@울산KH정보교육원. All right reserved.</p></footer>
</body>
</html>