<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test2.html</title>
    <style>
        /*selector
          1. 태그이름
          2. 클래스속성값 classification
          3. id속성값 identification
          */
        /* div {
            color: #00e;
            font-size: 16px;
            
        } */
        /* .c1 {color: #00f;}
        .c2 {color: #f0f;} */
        /* #id2 {color: violet;} */
        .c1 {color: blue;}
        /* .c1.s1 {font-size: 2em;} */
        div.s1 {font-size: 2em;}
        * {border: 1px dashed purple;}
    </style>
</head>
<body>
    <div class = "c1 s1">1</div>
    <p class = "c1" id = "id2">2</p>
    <div class = "c2">3</div>
</body>
</html>