<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        div, span {
            outline: 1px solid red;
        }
        div {
            background-color: yellowgreen;
            height: 150px;
            width: 100px;
            display: inline;
        }
        span {
            background-color: pink;
            width: 100px;
            height: 50px;
            display: block;
        }
    </style> -->
</head>
<body>
    <div>div는 블럭 레벨 태그1</div>
    <!-- <div>div는 블럭 레벨 태그2</div>
    <span>span는 인라인 레벨 태그1</span> -->
    <span>span는 인라인 레벨 태그2</span>
</body>
</html>