<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Nav Layer -->
<th:block th:fragment="lowerHeader">
  <nav id="gnb">
    <div class="content content-g">
      <ul class="gnb-menu">
        <li class="gnb-menu__item">
          <a href="list.html" th:href="@{/post/list?category=B0101}" class="title">공연·전시
            <!-- <ul>
                <li><a href="">전체</a></li>
                <li><a href="">공연</a></li>
                <li><a href="">전시</a></li>
            </ul> -->
          </a>
        </li>
        <li class="gnb-menu__item">
          <a href="review.html" th:href="@{/post/list?category=B0102}" class="title">홍보</a>
        </li>
        <li class="gnb-menu__item">
          <a href="promotion.html" th:href="@{/post/list?category=B0103}" class="title">후기</a>
        </li>
        <li class="gnb-menu__item">
          <a th:href="@{/map}" class="title">문화지도</a>
        </li>
        <li class="gnb-menu__item">
          <a th:href="@{/members/{email}/info(email=${s_email})}" class="title" type="">내정보
            <!--              <ul>-->
            <!--                <li><a href="">내정보</a></li>-->
            <!--                <li><a href="">활동 내역</a></li>-->
            <!--                <li><a href="">관리</a></li>-->
            <!--              </ul>-->
          </a>
        </li>
      </ul>

      <div class="gnb-search">
        <input class="search__input" type="text" placeholder="검색">
        <i class="fas fa-search"></i></button>
      </div>

    </div>

    </div>
  </nav>
</th:block>



<!-- MyInfo Menu Layer -->
<th:block th:fragment="infoMenu">
  <div class="tab__state">
    <ul class="info__side">
      <li class="info__side_menu">
        <a class="" th:href="@{/members/{email}/info(email=${s_email})}">내 정보</a>
      </li>
      <li class="info__side_menu">
        <a class="" th:href="@{/members/pwCheck}">내 정보 수정</a>
      </li>
      <li class="info__side_menu">
                  <span id="toc-toggle" onclick="openCloseToc()">
                      활동내역
                      <img th:src="@{/img/arrow_down.png}" id="arrow">
                  </span>
        <ul class="dropmenu" id="toc-content" style="display: none;">
          <li><a th:href="@{/history/post}">내가 쓴 글</a></li>
          <li><a th:href="@{/history/comment}">내가 쓴 댓글</a></li>
          <li><a th:href="@{/history/list}">좋아요 목록</a></li>
        </ul>
      </li>

    </ul>
  </div>
</th:block>
</html>